@import url('https://fonts.cdnfonts.com/css/uber-move-text');

* {
    font-family: 'Uber Move Text', sans-serif;
}


/* Navbar */

.dropdown-toggle::after {
    display: none !important;
}

.nav-link {
    margin-right: 10px;
    border-radius: 20px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.nav-link:hover {
    color: black !important;
    border-radius: 20px;


    background-color: rgb(84, 84, 84);
}

.nav-link:focus {
    color: black !important;
    border-radius: 20px;
    background-color: rgb(84, 84, 84);
}

.dropdown-menu {
    margin-top: 10px !important;
}
/*------------------------- Navbar End---------------*/


/*--------------------------- Hero Section -----------*/
.carousel-item img {
    width: 100%;
    height: 80vh;
    object-fit: contain;
}

.section1_para {
    font-size: 15px;
    color: white;
}

::placeholder {
    font-size: 15px !important;

}

.input-container {
    position: relative;

}

.icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

::placeholder {

    overflow: hidden !important;
    text-overflow: ellipsis !important;
   
}

.carousel-control-next,
.carousel-control-prev {

    color: rgba(148, 148, 152, 0.307) !important;
    font-size: 40px;

}

.carousel-control-prev {

    left: -40px !important;

}

.carousel-control-next {

    right: -40px !important;

}

@media (max-width:650px) {
    .carousel-item img {
        width: 100%;
        height: 30vh;
    }

    #carouselExampleIndicators {
        width: 100% !important;
    }

    .head {
        font-size: 25px !important;
    }
}


@media (min-width:650px) {

    
    .caption {
        font-size: 20px !important
    }
}


.carousel-caption {
    bottom: 3.5rem !important
}

/* ---------------------------Hero Section End --------------------------- */




/* ---------------------------Modal--------------------------- */
.modal-content {
    background-color: rgb(66, 70, 70) !important;
}

.modal-content p {
    color: white !important;
}

.modal-content h1 {
    color: rgb(88, 126, 231) !important;
}

.input_box {
    min-height: 0vh !important;
    padding: 4px !important;
    outline: none;

}

.modal-content {
    border-radius: 20px !important;
}

.sub_btn {
    text-transform: uppercase;
}

#p_span {
    color: rgb(156, 153, 151) !important;

}

.modal-dialog {
    width: 40% !important;
}


@media (max-width:1000px) {
    .modal-dialog {
        width: 95% !important;
    }
}

@media (max-width:476px) {
    .sub_btn {
        margin-top: 2% !important;
    }
}

.fa-lg {
    font-size: 2em !important;
}





.feed_btn {
    padding: 1% 1.2% !important;
    border-radius: 50% !important;
    font-size: 1.2em !important;
    position: fixed;
    bottom: 1%;
    left: 1%;
    background-color: white !important;
    color: black !important;
    border: none !important;
}

/* ---------------------------Modal End --------------------------- */

/* ---------------------------Section 1 --------------------------- */
.bg {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: rgb(125, 153, 230);
    font-size: 1.4em !important;
}


.span_sect {
    
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    background:
        linear-gradient(to right,
            rgb(174, 171, 171),
            rgb(153, 154, 154)),
        linear-gradient(to right,
            rgb(0, 0, 0),
            rgb(0, 0, 0),
            rgb(0, 0, 0));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 700ms;
}



.span_sect:hover {
    background-size: 0 2px, 100% 2px;
}

.span_line {
    width: fit-content !important;
}

@media (max-width:1024px) {
    .get_btn {
        padding: 0 !important;
    }
}

@media (max-width:768px) {
    .get_btn {
        width: 100% !important;

    }

    .span_line {
        padding-left: 0px !important;
    }

    .span_sect {
        margin-top: 5px !important;
    }
}

.section_card{
    
    transition: 1s;
}
.section_card:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: scale(1.03);
   
}
.card{
    cursor: pointer;
    transition: 1s;
}

.card:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: scale(1.03);
    
}
/* ---------------------------Section1 End--------------------------- */


/* ---------------------------Card Section --------------------------- */
.navlink{
    border-radius: 0px !important;
    color: black !important;
}
.navlink:focus {
 background-color: rgba(0, 0, 0, 0.304) !important;
 color: white !important;
 
}

.navlink:hover {
 background-color: transparent;
}

@media (max-width:320px) {
    .nav-item{
        width: 33%;
    }
}

.sect{
    background-color:#F6F6F6;
    margin-top: 1.5em;
}
/* ---------------------------Card Section End--------------------------- */

/* --------------------------- Go to Top --------------------------- */
.goTop{
    position: fixed !important;
    bottom: 5px;
    right: 10px;
    z-index: 999;
    
}
.top_span{
    display: none;
}
.goTop:hover .top_span{
    transition: 0.5s !important;
    display: inline;
    
}
.goTop:hover {
    
    background-color: rgba(234, 237, 239, 0.775) !important;
    
}
/* --------------------------- Go to Top End--------------------------- */



/* --------------------------- FAQ --------------------------- */
.accord_span{
    width: fit-content;
}
.accordion{
    --bs-accordion-active-bg: transparent !important;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(11, 23, 41, 0) !important;
}

.faq{
    background-color: #F6F6F6;
}
/* --------------------------- FAQ End --------------------------- */


/* --------------------------- App Section --------------------------- */
.app{
    background-color: #F6F6F6;
    cursor: pointer;
    
}
.app:hover .fa-arrow-right{
   transform: translateX(10px);
   transition: 0.6s;
}

/* --------------------------- App Section End --------------------------- */


/* --------------------------- Footer --------------------------- */
.footer{
    margin: 0 !important;
}
.social_icon{
    cursor: pointer;
}
.social_icon:hover{
    color: aliceblue ;
}
@media (max-width:1024px) {

    .social_content{
        width: 50% !important;
    }
    .social{
        margin-bottom: 30px !important;
    }
}
@media (max-width:768px) {

    .social_content{
        width: 100% !important;
    }
    
}
.footer_link{
    padding-left: 5px !important;
    margin-top: 5px !important;
}

.footer_link li {
    list-style-type: none;
    margin-top: 10px !important;
    cursor: pointer;
    color: rgba(230, 234, 238, 0.69);
}
.footer_link li:hover {
   
    color: rgb(255, 255, 255);
}

.footer_loc,.footer_lan:hover{
    cursor: pointer;
}
/* --------------------------- Footer End --------------------------- */


.feed_btn {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
@-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }




  .tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
