*{
    box-sizing: border-box;
}
.carousel-item img{
    width: 100%;
    height: 80vh;
    object-fit: contain;
}

.section1_para{
    font-size: 15px;
    color: white;
}

::placeholder{
    font-size: 15px !important;
    
}


.input-container {
    position: relative;
   
}



.icon {
    position: absolute;
    right: 10px; /* Adjust based on your preference */
    top: 50%;
    transform: translateY(-50%);
    /* Add your icon styling here */
}
::placeholder {
    
    overflow: hidden !important;
    text-overflow: ellipsis !important;/* Ensures the placeholder text inherits the input's font size */
}
@media (max-width:650px) {
    .carousel-item img{
        width: 100%;
        height: 30vh;
        
    }
    #carouselExampleIndicators{
        width: 100% !important;
    }
    .head{
        font-size: 25px !important;
    }
}