@import url('https://fonts.cdnfonts.com/css/uber-move-text');

* {
    font-family: 'Uber Move Text', sans-serif;
}

.hero {
    height: 100vh;
    background-color: black;
}

.dropdown-toggle::after {
    display: none !important;
}

.nav-link {
    margin-right: 10px;
    border-radius: 20px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.nav-link:hover {
    color: black !important;
    border-radius: 20px;


    background-color: rgb(84, 84, 84);
}

.nav-link:focus {
    color: black !important;
    border-radius: 20px;
    background-color: rgb(84, 84, 84);
}

.dropdown-menu {
    margin-top: 10px !important;
}

.carousel-item img {
    width: 100%;
    height: 80vh;
    object-fit: contain;
}

.section1_para {
    font-size: 15px;
    color: white;
}

::placeholder {
    font-size: 15px !important;

}


.input-container {
    position: relative;

}



.icon {
    position: absolute;
    right: 10px;
   
    top: 50%;
    transform: translateY(-50%);
    
}

::placeholder {

    overflow: hidden !important;
    text-overflow: ellipsis !important;
   
}

.carousel-control-next,
.carousel-control-prev {

    color: rgba(148, 148, 152, 0.307) !important;
    font-size: 40px;

}

.carousel-control-prev {

    left: -40px !important;

}

.carousel-control-next {

    right: -40px !important;

}

@media (max-width:650px) {
    .carousel-item img {
        width: 100%;
        height: 30vh;

    }

    #carouselExampleIndicators {
        width: 100% !important;
    }


    .head {
        font-size: 25px !important;
    }
}

@media (max-width:1000px) {
    /* .carousel-indicators{
        top: 220px !important;
    } */
}

@media (min-width:650px) {

    /* .carousel-indicators{
        top: 500px !important;
    } */
    .caption {
        font-size: 20px !important
    }
}


.carousel-caption {
    bottom: 3.5rem !important
}

/* .carousel-caption {
    bottom:2.rem !important
} */





/* Modal */
.modal-content {
    background-color: rgb(66, 70, 70) !important;
}

.modal-content p {
    color: white !important;
}

.modal-content h1 {
    color: rgb(88, 126, 231) !important;
}

.input_box {
    min-height: 0vh !important;
    padding: 4px !important;
    outline: none;

}

.modal-content {
    border-radius: 20px !important;
}

.sub_btn {
    text-transform: uppercase;
}

#p_span {
    color: rgb(156, 153, 151) !important;

}

.modal-dialog {
    width: 40% !important;
}


@media (max-width:1000px) {
    .modal-dialog {
        width: 95% !important;
    }
}

@media (max-width:476px) {
    .sub_btn {
        margin-top: 2% !important;
    }
}

.fa-lg {
    font-size: 2em !important;
}

.bg {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: rgb(125, 153, 230);
    font-size: 1.4em !important;
}

/* .fa-envelope{
    position: absolute;
    text-align: center;
    left: 40%;
    top: -10%;
    font-size: 3em;
    background-color: blue;
    padding: 20px;
    border-radius: 50%;
} */

.feed_btn {
    padding: 1% 1.2% !important;
    border-radius: 50% !important;
    font-size: 1.2em !important;
    position: fixed;
    bottom: 1%;
    left: 1%;
    background-color: white !important;
    color: black !important;
    border: none !important;
}




.span_sect {
    /* border-bottom: 2px solid black; */
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    background:
        linear-gradient(to right,
            rgb(174, 171, 171),
            rgb(153, 154, 154)),
        linear-gradient(to right,
            rgb(0, 0, 0),
            rgb(0, 0, 0),
            rgb(0, 0, 0));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 700ms;
}

/* 
.span_sect::after{
    padding-bottom: 0.2rem;
    content: "";
    display: block;
    height: 1.1500000000000004rem ;
    background-image: linear-gradient( transparent calc(100% - 1px), #9f1515 1px ), linear-gradient( transparent calc(100% - 1px), #cd0808 1px );
    transform: scaleX(0) !important;
    transition: transform .3s;
} */

.span_sect:hover {
    background-size: 0 2px, 100% 2px;
}

.span_line {
    width: fit-content !important;
}

@media (max-width:1024px) {
    .get_btn {
        padding: 0 !important;
    }
}

@media (max-width:768px) {
    .get_btn {
        width: 100% !important;

    }

    .span_line {
        padding-left: 0px !important;
    }

    .span_sect {
        margin-top: 5px !important;
    }
}

.section_card{
    
    transition: 1s;
}
.section_card:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: scale(1.03);
   
}
.card{
    cursor: pointer;
    transition: 1s;
}

.card:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: scale(1.03);
    
}
.section2{
    background-color: #F6F6F6;
}